<style type="text/css">

body {
	a_background: #ff8f4f;
	font-family: Arial, Helvetica, Sans, sans-serif;
	font-size: 10px;
}

.navigation {
	text-align: center;
	font-weight: normal;
	white-space: no-wrap;
}

table {
	border: 0;
	cellspacing: 0;
	cellpadding: 0;
}

div {
	margin: 36 0 36 0;
}

td {
	width: *;
	height: *;
}

table, tr, td {
	a_color: #df3f1f
}

body,
p,
ul, ol, li,
small,
h1, h2, h3, h4, h5, h6,
blockquote {
	a_color: #df3f1f;
	font-family: Arial, Helvetica, Sans, sans-serif;
	font-size: 12px;
	text-align: justify;	
}

pre {
	font-family: "Andale Mono", "Courier New", "Courier", monospace;
	font-size: 12px;
}

A: IMG.clipart { border: 1px solid black }

A {
	font-family: Arial, Helvetica, Sans, sans-serif;
	font-size: 12px;
}

A:link {a_color: #bf2f00; text-decoration: none;}
A:link img { border: none; }
A:visited {a_color: #bf2f00; text-decoration: none;}
A:active {a_color: #ff7f7f; text-decoration: none;}
A:hover {color: #ff7f7f; text-decoration: none;}

HR {color: #ccccff;}

</style>

